/* src/components/Signup.css */

form {
    max-width: 500px; /* Increased max-width */
    margin: 0 auto;
    padding: 30px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 10px; /* Increased border-radius */
    background-color: #f9f9f9;
    margin-top: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 30px; /* Increased margin */
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 15px; /* Increased padding */
    margin-bottom: 15px; /* Increased margin-bottom */
    border: 1px solid #ccc;
    border-radius: 8px; /* Increased border-radius */
    box-sizing: border-box;
    font-size: 16px; /* Increased font size */
}

select {
    cursor: pointer;
}

button[type="submit"] {
    width: 100%;
    padding: 15px; /* Increased padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px; /* Increased border-radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-right : 100px; */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
